graphdb/
gstore/
db_*/
target/
GraphUsage.java
GraphUsage2.java
TimeTime.java
QuerySpeedTest.java
sf*/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties


*.class

*.log
*.log.*

.idea/
*.iml
*.iws
.project
.classpath
.settings/
.vscode/